body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #1e1e2e;
    color: #cdd6f4;
    margin: 0px 0px;
}

div.intro h1 {
    font-size: 36px;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: #11111b;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

}

div.intro img{
    width: auto;
    height: auto;
}
div.intro * {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 12px;
}

div.intro {
    margin: 0px;
    background-color: #181825;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}

div.intro.homepage {
    padding-bottom: 0px;
}
